<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>CodePen - OTP Input</title>
    <link rel="stylesheet" href="../static/css/OTP style.css" />
  </head>
  <body>
    <div class="brand-box">
		<span class="brand">
            <img src="../static/logo-1920-×-733-px.png" style="width: 220px; height: 84px;">
        </span>
	</div>
	

    <!-- partial:index.partial.html -->
    <h1 style="color: white;
    font-weight: bold;
    font-size: 42px;
    font-family: Slack-Larsseit,Helvetica Neue,Helvetica,Segoe UI,Tahoma,Arial,sans-serif;">Check your email for a code</h1>
    <h3 style="color: #d9d9d9;
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 32px;
    max-width: 710px;
    text-align: center;">We’ve sent a 6-character code to {{ email }}. The code expires shortly, so please enter it soon.</h3>

    <form
      method="GET"
      class="digit-group"
      data-group-name="digits"
      data-autosubmit="false"
      autocomplete="off"
      style="text-align: -webkit-center;"
    >
      <input type="text" id="digit-1" name="digit-1" data-next="digit-2" />
      <span class="splitter">&ndash;</span>
      <input
        type="text"
        id="digit-2"
        name="digit-2"
        data-next="digit-3"
        data-previous="digit-1"
      />
      <span class="splitter">&ndash;</span>
      <input
        type="text"
        id="digit-3"
        name="digit-3"
        data-next="digit-4"
        data-previous="digit-2"
      />
      <span class="splitter">&ndash;</span>
      <input type="text" id="digit-4" name="digit-4" data-previous="digit-3" />
      <div class="button_group" id="login_button">
        <a href="Home"><input type="submit" id = 'btn' ></a>
      </div>
    </form>
    <!-- partial -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="../static/js/OTP script.js"></script>
  </body>
</html>
